In [1]:
import pandas as pd
import numpy as np

In [2]:
hanjeon = pd.read_excel("급속충전이용내역_한전_18.01-19.10.xlsx")
hj = hanjeon.copy()
hj.head(3)

,번호,용도별,충전소,주소,충전소 구축일,충전구분,충전량(kWh),시작일시
0,1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,17.21,2018-01-01 09:19:36
1,2,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,12.86,2018-01-02 09:16:04
2,3,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,16.10,2018-01-04 14:00:49

In [3]:
hwankyeong = pd.read_excel("급속충전이용내역_환경부_18.01-19.10.xlsx")
hk = hwankyeong.copy()
hk.head(3)

,번호,충전소대분류,충전소명,주소,설치년도,충전기타입,충전량(kWh),충전시작시간,충전종료시간
0,1,교육문화시설,연세대학교 국제캠퍼스,인천광역시 연수구 송도동 162-1 포스코 그린빌딩 앞 주차장,2017,DC차데모+AC3상+DC콤보,7.02,20180101032052,20180101034847
1,2,공공시설,중부지방고용노동청 별관 앞,인천광역시 남동구 구월3동 1111-6 중부지방고용노동청 별관 앞,2017,DC차데모+AC3상+DC콤보,2.05,20180101041556,20180101042036
2,3,주차시설,강화풍물시장 공영주차장,인천광역시 강화군 강화읍 갑곳리 849 고엽제전우회 건물 옆,2017,DC차데모+AC3상+DC콤보,16.95,20180101043214,20180101050354

In [4]:
hj.rename( columns = {
    '충전소 구축일' : '설치년도'
}, inplace = True)

hk.rename( columns = {
    '충전소명' : '충전소',
    '충전시작시간' : '시작일시',
    '충전종료시간' : '종료일시'
}, inplace = True)

In [5]:
hj.head(1)

,번호,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시
0,1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,17.21,2018-01-01 09:19:36

In [6]:
hk.head(1)

,번호,충전소대분류,충전소,주소,설치년도,충전기타입,충전량(kWh),시작일시,종료일시
0,1,교육문화시설,연세대학교 국제캠퍼스,인천광역시 연수구 송도동 162-1 포스코 그린빌딩 앞 주차장,2017,DC차데모+AC3상+DC콤보,7.02,20180101032052,20180101034847

# 편차 함수

# 시간대별 충전량 (대형마트용)

In [7]:
hj2 = hj[hj['용도별'] == '공용'] # hj['용도별'] != '아파트용' 
hj2['용도별'].unique()
hj2.index = range(len(hj2))
hj2.head()

,번호,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시
0,1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,17.21,2018-01-01 09:19:36
1,2,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,12.86,2018-01-02 09:16:04
2,3,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,16.10,2018-01-04 14:00:49
3,4,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,13.94,2018-01-09 12:58:46
4,5,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,16.06,2018-01-09 20:48:46

In [8]:
hj2.head()

,번호,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시
0,1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,17.21,2018-01-01 09:19:36
1,2,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,12.86,2018-01-02 09:16:04
2,3,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,16.10,2018-01-04 14:00:49
3,4,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,13.94,2018-01-09 12:58:46
4,5,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,16.06,2018-01-09 20:48:46

In [9]:
hj2['충전소'].unique()

array(['강화지사', '강화군청', '신문리 공영주차장', '온수리 제1공영주차장', '마니산국민관광지', '계양구청',
       '홈플러스 작전점', '하나로마트 인천점', '홈플러스 계산점', 'LH인천본부', '동구청앞 공영주차장',
       '서림초교 뒤 공영주차장', '인천업사이클 에코센터', '부평국민체육센터', '부평아트센터', '삼산농산물도매시장',
       '인천전력관리처', '인천직할', '인천경제산업정보테크노파크', '인천항 크루즈터미널', '남인천지사',
       'G-Tower(경제자유구역청)', '홈플러스 인천연수점', '용유동사무소', '인천항 갑문홍보관'],
      dtype=object)

In [10]:
len(hj2)

24122

In [11]:
pd.DataFrame(hj2.iloc[0,:]).T.shape

(1, 8)

In [12]:
s = hk.iloc[10,:].copy()
s['시작일시']

20180101091225

In [13]:
mart_li = ['홈플러스', '마트' ]
temp_df = []

for i in range(len(hj2)) :
    if( (hj2.loc[i, '충전소'].find(mart_li[0]) != -1) | (hj2.loc[i, '충전소'].find(mart_li[1]) != -1) ) :
        temp_df.append( hj2.iloc[i,:])
        #temp_df.append(  (pd.DataFrame(hj2.iloc[i,:], index= hj2.columns).T), ignore_index=True)

for i in range(len(hk)) :
    if( (hk.loc[i, '충전소'].find(mart_li[0]) != -1) | (hk.loc[i, '충전소'].find(mart_li[1]) != -1) ) :
        s = hk.iloc[i,:].copy()
        s['시작일시'] = str(s['시작일시'])
        s['시작일시'] = s['시작일시'][:4] + '-' + s['시작일시'][4:6] + '-' +s['시작일시'][6:8] + ' '+ s['시작일시'][8:10]+ ':' + s['시작일시'][10:12]+':' + s['시작일시'][12:14]
        temp_df.append(s)        

temp_df = pd.DataFrame(temp_df, columns = hj2.columns)
temp_df.index = range(len(temp_df))
print(len(temp_df), temp_df['충전소'].unique() )
temp_df.head()

14623 ['홈플러스 작전점' '하나로마트 인천점' '홈플러스 계산점' '홈플러스 인천연수점' '롯데마트 부평역점' '롯데마트 청라점'
 '롯데마트 검단점' '롯데마트 연수점' '롯데마트 영종도점' '홈플러스 인하점' '홈플러스 구월점' '이마트 연수점'
 '홈플러스 가좌점' '이마트 동인천점']

,번호,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시
0,4780,공용,홈플러스 작전점,인천광역시 계양구 계양대로 27,2017-11-17,급속,0.44,2018-05-18 12:02:36
1,4781,공용,홈플러스 작전점,인천광역시 계양구 계양대로 27,2017-11-17,급속,2.90,2018-05-31 17:48:20
2,4782,공용,홈플러스 작전점,인천광역시 계양구 계양대로 27,2017-11-17,급속,44.32,2018-06-01 20:41:32
3,4783,공용,홈플러스 작전점,인천광역시 계양구 계양대로 27,2017-11-17,급속,18.23,2018-06-03 16:54:20
4,4784,공용,홈플러스 작전점,인천광역시 계양구 계양대로 27,2017-11-17,급속,0.58,2018-06-04 12:50:43

In [14]:
temp_df.head(1)

,번호,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시
0,4780,공용,홈플러스 작전점,인천광역시 계양구 계양대로 27,2017-11-17,급속,0.44,2018-05-18 12:02:36

In [15]:
temp_df['시작일시']

0        2018-05-18 12:02:36
1        2018-05-31 17:48:20
2        2018-06-01 20:41:32
3        2018-06-03 16:54:20
4        2018-06-04 12:50:43
5        2018-06-09 16:27:19
6        2018-06-11 13:34:10
7        2018-06-12 18:57:30
8        2018-06-13 18:02:13
9        2018-06-15 10:41:16
10       2018-06-15 13:47:08
11       2018-06-17 18:52:13
12       2018-06-20 10:02:39
13       2018-06-21 11:47:58
14       2018-06-21 15:58:52
15       2018-06-22 15:30:40
16       2018-06-22 19:33:48
17       2018-06-22 20:38:32
18       2018-06-23 16:01:00
19       2018-06-25 17:15:55
20       2018-06-26 18:32:53
21       2018-07-01 14:37:38
22       2018-07-03 16:06:26
23       2018-07-05 19:36:56
24       2018-07-09 18:57:02
25       2018-07-10 14:37:32
26       2018-07-11 19:25:55
27       2018-07-13 17:01:47
28       2018-07-18 20:31:22
29       2018-07-19 17:09:26
                ...
14593    2019-10-25 13:42:22
14594    2019-10-25 15:00:00
14595    2019-10-25 15:47:01
14596    2019-10-25 16:32:06
14597    2019-10-25 18:47:31
14598    2019-10-25 19:10:47
14599    2019-10-25 19:53:09
14600    2019-10-26 11:15:05
14601    2019-10-26 20:40:03
14602    2019-10-26 21:08:26
14603    2019-10-28 08:43:14
14604    2019-10-28 18:38:05
14605    2019-10-28 19:01:28
14606    2019-10-28 19:15:41
14607    2019-10-28 19:56:55
14608    2019-10-29 11:02:58
14609    2019-10-29 11:40:05
14610    2019-10-29 13:31:32
14611    2019-10-29 17:47:59
14612    2019-10-29 18:48:26
14613    2019-10-30 16:44:28
14614    2019-10-30 18:03:54
14615    2019-10-30 20:16:43
14616    2019-10-30 21:22:15
14617    2019-10-30 22:57:51
14618    2019-10-31 14:06:26
14619    2019-10-31 14:58:54
14620    2019-10-31 18:15:59
14621    2019-10-31 18:47:57
14622    2019-10-31 21:45:55
Name: 시작일시, Length: 14623, dtype: object

In [16]:
temp_df['시작일시'][1120].split(' ')[1].split(':')[0]

'20'

In [17]:
temp_df['시간대'] = list(map(lambda x : x.split(' ')[1].split(':')[0], temp_df['시작일시']))

temp_df2 = temp_df.groupby(['시간대']).sum()
temp_df2['시간대'] = temp_df2.index
temp_df2 = temp_df2.iloc[:,[2,1]]
temp_df2

    시간대  충전량(kWh)
시간대
00   00     97.21
01   01     50.16
02   02     27.74
03   03     33.40
04   04     20.05
05   05      2.94
06   06    179.61
07   07    658.61
08   08   2180.59
09   09   9817.33
10   10  18011.11
11   11  17981.40
12   12  20974.24
13   13  20820.46
14   14  21941.57
15   15  20430.11
16   16  21545.33
17   17  20450.69
18   18  23712.25
19   19  21386.78
20   20  19417.60
21   21  15701.47
22   22   8225.49
23   23   1131.14

In [18]:
len(temp_df['충전소'].unique())

14

In [19]:
n_li = list(temp_df.groupby(['시간대']).size())
n_li

[5,
 2,
 1,
 2,
 1,
 1,
 10,
 39,
 139,
 519,
 984,
 999,
 1160,
 1175,
 1183,
 1140,
 1193,
 1160,
 1275,
 1111,
 1068,
 890,
 488,
 78]

In [20]:
temp_df2['평균충전량'] = temp_df2['충전량(kWh)'] / len(temp_df['충전소'].unique())
temp_df2

    시간대  충전량(kWh)        평균충전량
시간대
00   00     97.21     6.943571
01   01     50.16     3.582857
02   02     27.74     1.981429
03   03     33.40     2.385714
04   04     20.05     1.432143
05   05      2.94     0.210000
06   06    179.61    12.829286
07   07    658.61    47.043571
08   08   2180.59   155.756429
09   09   9817.33   701.237857
10   10  18011.11  1286.507857
11   11  17981.40  1284.385714
12   12  20974.24  1498.160000
13   13  20820.46  1487.175714
14   14  21941.57  1567.255000
15   15  20430.11  1459.293571
16   16  21545.33  1538.952143
17   17  20450.69  1460.763571
18   18  23712.25  1693.732143
19   19  21386.78  1527.627143
20   20  19417.60  1386.971429
21   21  15701.47  1121.533571
22   22   8225.49   587.535000
23   23   1131.14    80.795714

In [21]:
qqq = temp_df.iloc[:, 1:]

In [22]:
qqq[qqq['시간대'] == '02']

,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시,시간대
846,공용,하나로마트 인천점,인천광역시 계양구 아나지로 341,2017-11-17,급속,27.74,2019-02-09 02:31:51,02

In [23]:
qqq[qqq['시간대'] == '04']

,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시,시간대
8530,NaN,롯데마트 부평역점,인천광역시 부평구 광장로 16 (부평동),2017,NaN,20.05,2019-02-02 04:33:09,04

In [24]:
qqq[qqq['시간대'] == '05']

,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시,시간대
7798,NaN,홈플러스 구월점,"인천광역시 남동구 예술로 198 , 지하주차장 4층 I4구역",2012,NaN,2.94,2018-10-28 05:15:25,05

In [25]:
qqq2 = qqq.groupby(['시간대']).agg('std').fillna(0)
qqq2.rename( columns = {
    '충전량(kWh)' : '충전량(kWh) 편차'
}, inplace = True)

In [26]:
qqq2

     충전량(kWh) 편차
시간대
00      9.744192
01      1.004092
02      0.000000
03      7.269058
04      0.000000
05      0.000000
06     10.962361
07     14.391798
08      9.090728
09     10.608996
10     11.398875
11     11.588274
12     11.703801
13     10.914740
14     11.252238
15     11.583110
16     11.010965
17     10.400429
18     11.335265
19     11.156267
20     11.182971
21     10.119979
22     10.006066
23      8.793145

In [27]:
pd.Series(list(qqq2.iloc[:, 0])) / n_li

0     1.948838
1     0.502046
2     0.000000
3     3.634529
4     0.000000
5     0.000000
6     1.096236
7     0.369020
8     0.065401
9     0.020441
10    0.011584
11    0.011600
12    0.010089
13    0.009289
14    0.009512
15    0.010161
16    0.009230
17    0.008966
18    0.008890
19    0.010042
20    0.010471
21    0.011371
22    0.020504
23    0.112733
dtype: float64

In [28]:
n_li

[5,
 2,
 1,
 2,
 1,
 1,
 10,
 39,
 139,
 519,
 984,
 999,
 1160,
 1175,
 1183,
 1140,
 1193,
 1160,
 1275,
 1111,
 1068,
 890,
 488,
 78]

In [29]:
temp_df3 = temp_df2.copy()
temp_df3.index = range(len(temp_df3))
temp_df3['편차'] = list(qqq2.iloc[:, 0])
temp_df3['MSE'] = list(temp_df3['편차'] / n_li)
temp_df3['시간대'] = list(map(lambda x : str(x) + ":00", temp_df3['시간대']))
temp_df3

      시간대  충전량(kWh)        평균충전량         편차       MSE
0   00:00     97.21     6.943571   9.744192  1.948838
1   01:00     50.16     3.582857   1.004092  0.502046
2   02:00     27.74     1.981429   0.000000  0.000000
3   03:00     33.40     2.385714   7.269058  3.634529
4   04:00     20.05     1.432143   0.000000  0.000000
5   05:00      2.94     0.210000   0.000000  0.000000
6   06:00    179.61    12.829286  10.962361  1.096236
7   07:00    658.61    47.043571  14.391798  0.369020
8   08:00   2180.59   155.756429   9.090728  0.065401
9   09:00   9817.33   701.237857  10.608996  0.020441
10  10:00  18011.11  1286.507857  11.398875  0.011584
11  11:00  17981.40  1284.385714  11.588274  0.011600
12  12:00  20974.24  1498.160000  11.703801  0.010089
13  13:00  20820.46  1487.175714  10.914740  0.009289
14  14:00  21941.57  1567.255000  11.252238  0.009512
15  15:00  20430.11  1459.293571  11.583110  0.010161
16  16:00  21545.33  1538.952143  11.010965  0.009230
17  17:00  20450.69  1460.763571  10.400429  0.008966
18  18:00  23712.25  1693.732143  11.335265  0.008890
19  19:00  21386.78  1527.627143  11.156267  0.010042
20  20:00  19417.60  1386.971429  11.182971  0.010471
21  21:00  15701.47  1121.533571  10.119979  0.011371
22  22:00   8225.49   587.535000  10.006066  0.020504
23  23:00   1131.14    80.795714   8.793145  0.112733

In [30]:
#temp_df2.to_csv("대형마트 시간대별 총충전량.csv", encoding = "CP949", index = False)
#temp_df2.to_csv("대형마트 시간대별 마트당 총충전량.csv", encoding = "CP949", index = False)
#qqq2.to_csv("대형마트 시간대별 편차.csv", encoding = "CP949")
temp_df3.to_csv("대형마트 시간대별 마트당 총충전량 및 MSE.csv", encoding = "CP949", index = False)

# 시간대별 충전량 (아파트용)

In [31]:
hj3 = hj[hj['용도별'] == '아파트용']
hj3.head()

,번호,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시
3011,3012,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,17.76,2018-08-15 16:04:28
3012,3013,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,16.32,2018-09-06 12:55:34
3013,3014,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,11.36,2018-09-08 09:13:04
3014,3015,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,21.59,2018-10-07 15:34:27
3015,3016,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,9.85,2018-10-16 14:46:40

In [32]:
hj3['시간대'] = list(map(lambda x : x.split(' ')[1].split(':')[0], hj3['시작일시'] ))
hj3.head()

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,번호,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시,시간대
3011,3012,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,17.76,2018-08-15 16:04:28,16
3012,3013,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,16.32,2018-09-06 12:55:34,12
3013,3014,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,11.36,2018-09-08 09:13:04,09
3014,3015,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,21.59,2018-10-07 15:34:27,15
3015,3016,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,9.85,2018-10-16 14:46:40,14

In [33]:
temp = hj3.groupby(['시간대']).sum()
hj3_2 = pd.DataFrame([list(temp.index), temp.iloc[:,1]] , index = ['시간대', '충전량(kWh)']).T
hj3_2

   시간대 충전량(kWh)
0   00  9321.68
1   01  6150.81
2   02  2783.22
3   03   2214.8
4   04  2249.54
5   05  3028.25
6   06  6241.43
7   07   9867.5
8   08  10032.7
9   09  8471.53
10  10  8221.75
11  11  8375.37
12  12  9036.59
13  13  9565.76
14  14  9214.22
15  15   9641.5
16  16  10880.7
17  17  13067.9
18  18  14795.2
19  19  17354.6
20  20  20606.8
21  21  18396.1
22  22  15040.1
23  23    16899

In [34]:
 len(hj3['충전소'].unique())

85

In [35]:
n_li2 = list(hj3.groupby(['시간대']).size())
n_li2

[390,
 259,
 109,
 91,
 101,
 150,
 272,
 485,
 486,
 451,
 457,
 412,
 484,
 469,
 488,
 521,
 577,
 616,
 637,
 731,
 825,
 727,
 602,
 594]

In [36]:
hj3_2['평균충전량'] = hj3_2['충전량(kWh)'] / len(hj3['충전소'].unique())
hj3_2

   시간대 충전량(kWh)    평균충전량
0   00  9321.68  109.667
1   01  6150.81  72.3625
2   02  2783.22  32.7438
3   03   2214.8  26.0565
4   04  2249.54  26.4652
5   05  3028.25  35.6264
6   06  6241.43  73.4286
7   07   9867.5  116.088
8   08  10032.7  118.032
9   09  8471.53  99.6651
10  10  8221.75  96.7265
11  11  8375.37  98.5337
12  12  9036.59  106.313
13  13  9565.76  112.538
14  14  9214.22  108.403
15  15   9641.5  113.429
16  16  10880.7  128.009
17  17  13067.9   153.74
18  18  14795.2  174.061
19  19  17354.6  204.172
20  20  20606.8  242.432
21  21  18396.1  216.425
22  22  15040.1  176.942
23  23    16899  198.812

In [37]:
www = hj3.iloc[:, 1:]
www.head(1)

,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시,시간대
3011,아파트용,초정마을동아 아파트,"인천광역시 계양구 계산새로 109 (용종동, 초정마을동아아파트)",2017-08-12,급속,17.76,2018-08-15 16:04:28,16

In [38]:
www2 = www.groupby(['시간대']).agg('std')
www2.rename(columns = {
    '충전량(kWh)' : '충전량(kWh) 편차'
},inplace = True)
www2

     충전량(kWh) 편차
시간대
00     18.640521
01     18.480424
02     18.601283
03     17.213985
04     16.993515
05     14.340100
06     16.584897
07     12.105538
08     13.626762
09     13.539960
10     12.833576
11     14.741771
12     13.509662
13     14.967658
14     14.962613
15     14.593037
16     13.738041
17     14.796701
18     15.888241
19     16.453122
20     15.980089
21     16.892172
22     17.600588
23     17.921862

In [39]:
hj3_3 = hj3_2.copy()

In [40]:
hj3_3['편차'] = list(www2.iloc[:,0])
hj3_3['MSE'] = list(pd.Series((list(www2.iloc[:, 0]))) / n_li2)
hj3_3['시간대'] = list(map(lambda x : str(x) + ':00', hj3_3['시간대']))

In [41]:
hj3_3

      시간대 충전량(kWh)    평균충전량         편차       MSE
0   00:00  9321.68  109.667  18.640521  0.047796
1   01:00  6150.81  72.3625  18.480424  0.071353
2   02:00  2783.22  32.7438  18.601283  0.170654
3   03:00   2214.8  26.0565  17.213985  0.189165
4   04:00  2249.54  26.4652  16.993515  0.168253
5   05:00  3028.25  35.6264  14.340100  0.095601
6   06:00  6241.43  73.4286  16.584897  0.060974
7   07:00   9867.5  116.088  12.105538  0.024960
8   08:00  10032.7  118.032  13.626762  0.028039
9   09:00  8471.53  99.6651  13.539960  0.030022
10  10:00  8221.75  96.7265  12.833576  0.028082
11  11:00  8375.37  98.5337  14.741771  0.035781
12  12:00  9036.59  106.313  13.509662  0.027913
13  13:00  9565.76  112.538  14.967658  0.031914
14  14:00  9214.22  108.403  14.962613  0.030661
15  15:00   9641.5  113.429  14.593037  0.028010
16  16:00  10880.7  128.009  13.738041  0.023809
17  17:00  13067.9   153.74  14.796701  0.024021
18  18:00  14795.2  174.061  15.888241  0.024942
19  19:00  17354.6  204.172  16.453122  0.022508
20  20:00  20606.8  242.432  15.980089  0.019370
21  21:00  18396.1  216.425  16.892172  0.023235
22  22:00  15040.1  176.942  17.600588  0.029237
23  23:00    16899  198.812  17.921862  0.030171

In [42]:
#hj3_2.to_csv("아파트용 충전소 시간대별 총충전량.csv", encoding = "CP949", index = False)
#hj3_2.to_csv("아파트용 충전소 시간대별 아파트당 총충전량.csv", encoding = "CP949", index = False)
#www.to_csv("아파트용 충전소 시간대별 편차.csv" , encoding ="CP949")
hj3_3.to_csv("아파트용 충전소 시간대별 아파트당 총충전량 및 MSE.csv", encoding = "CP949", index = False)

# 시간대별 충전소 (공공용)

In [43]:
hj.head(1)

,번호,용도별,충전소,주소,설치년도,충전구분,충전량(kWh),시작일시
0,1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,급속,17.21,2018-01-01 09:19:36

In [44]:
gong = hj[hj['용도별'] == '공용']

In [45]:
s = hk.copy()
s['시작일시'] = list(map(lambda x : str(x), s['시작일시']))
s['시작일시'] = list(map(lambda x : x[:4] + '-' + x[4:6] + '-' + x[6:8] + ' '+ x[8:10]+ ':' + x[10:12]+':' + x[12:14], s['시작일시']))
s.head(1)

,번호,충전소대분류,충전소,주소,설치년도,충전기타입,충전량(kWh),시작일시,종료일시
0,1,교육문화시설,연세대학교 국제캠퍼스,인천광역시 연수구 송도동 162-1 포스코 그린빌딩 앞 주차장,2017,DC차데모+AC3상+DC콤보,7.02,2018-01-01 03:20:52,20180101034847

In [46]:
s.rename( columns = {
    '충전소대분류' : '용도별'
}, inplace = True)

In [47]:
gong2 = pd.concat([gong.iloc[:,[1,2,3,4,6,7]], s.iloc[:, [1,2,3,4,6,7]]], axis = 0)
gong2.head()

,용도별,충전소,주소,설치년도,충전량(kWh),시작일시
0,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,17.21,2018-01-01 09:19:36
1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,12.86,2018-01-02 09:16:04
2,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.10,2018-01-04 14:00:49
3,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,13.94,2018-01-09 12:58:46
4,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.06,2018-01-09 20:48:46

In [48]:
gong2['용도별'].unique()

array(['공용', '교육문화시설', '공공시설', '주차시설', '휴게시설', '상업시설', '차량정비시설', '관광시설',
       '근린생활시설'], dtype=object)

In [49]:
gong2[gong2['용도별'] == '교육문화시설']['충전소'].unique()

array(['연세대학교 국제캠퍼스', '열우물경기장', '아트센터인천', '인천아시아드주경기장 D1주차장',
       '인천아시안게임 남동경기장 1주차장'], dtype=object)

In [50]:
gong2[gong2['용도별'] == '공공시설']['충전소'].unique()

array(['중부지방고용노동청 별관 앞', '인천시청', '덕산국민여가캠핑장', '송림체육관', '인천서구청',
       '인천교통공사 본사', '가좌2동 행정복지센터', '연수구청', '인천정보산업테크노파크',
       '인천공항물류단지 행정지원센터', '인천광역시 교통연수원', '한국환경공단(기후대기관)'], dtype=object)

In [51]:
gong2[gong2['용도별'] == '주차시설']['충전소'].unique()

array(['강화풍물시장 공영주차장', '검단2공영주차장', '계산1택지 공영주차장', '도원역 부근 공영주차장',
       '부원 공영주차장', '영흥수산물직판장 주차장', '인천서구청 제1주차장', '인천공항 정부합동청사',
       '계양구 공영주차장', '차이나타운 주차장', '부평깡시장 공영주차장', '서곶근린공원 제1주차장',
       '서운체육공원 주차장', '현대시장 공영주차장', '장수서창 공영주차장', '갈산역 공영주차장',
       '인천나비공원 주차장', '온수리 공영 주차장', '십리포해수욕장 주차장', '청라중앙호수공원 2주차장',
       '모탱이공원', '늘솔길공원 3주차장', '소래제1주차장', '월미공원 제2주차장', '신기남부종합시장 주차장'],
      dtype=object)

In [52]:
gong2[gong2['용도별'] == '휴게시설']['충전소'].unique()

array(['영종대교 휴게소 주차장'], dtype=object)

In [53]:
gong2[gong2['용도별'] == '상업시설']['충전소'].unique()

array(['롯데마트 부평역점', '롯데마트 청라점', '청라에너지', '송도골프', '롯데마트 검단점', '롯데마트 연수점',
       '롯데마트 영종도점', '홈플러스 인하점', '홈플러스 구월점', '이마트 연수점', '홈플러스 가좌점',
       '이마트 동인천점'], dtype=object)

In [54]:
gong2[gong2['용도별'] == '차량정비시설']['충전소'].unique()

array(['㈜현대자동차 블루핸즈 서인천 서비스 주차장 입구'], dtype=object)

In [55]:
gong2[gong2['용도별'] == '관광시설']['충전소'].unique()

array(['송도컨벤시아'], dtype=object)

In [56]:
gong2[gong2['용도별'] == '근린생활시설']['충전소'].unique()

array(['인천서구청소년수련관', '남동복지관'], dtype=object)

In [57]:
# 마트 제거
gong2_2 = gong2[gong2['용도별'] != '상업시설']

In [58]:
gong2_3 = gong2_2[gong2_2['충전소'] != '연세대학교 국제캠퍼스']

In [59]:
gong2_3.head()

,용도별,충전소,주소,설치년도,충전량(kWh),시작일시
0,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,17.21,2018-01-01 09:19:36
1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,12.86,2018-01-02 09:16:04
2,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.10,2018-01-04 14:00:49
3,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,13.94,2018-01-09 12:58:46
4,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.06,2018-01-09 20:48:46

In [60]:
gong2_3.index = range(len(gong2_3))

In [61]:
mart_li = ['마트', '홈플러스']

gong3 = []
t = -1
for i in mart_li :
    for j in range(len(gong2_3)) :
        if (i not in gong2_3.loc[j, '충전소']) :
            gong3.append(gong2_3.iloc[j, :])

In [62]:
gong3_2 = pd.DataFrame(gong3)
gong3_2

,용도별,충전소,주소,설치년도,충전량(kWh),시작일시
0,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,17.21,2018-01-01 09:19:36
1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,12.86,2018-01-02 09:16:04
2,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.10,2018-01-04 14:00:49
3,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,13.94,2018-01-09 12:58:46
4,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.06,2018-01-09 20:48:46
5,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,12.33,2018-01-20 19:50:42
6,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,20.21,2018-01-21 13:37:41
7,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,11.76,2018-01-21 15:39:44
8,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,15.88,2018-01-21 16:29:10
9,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,39.59,2018-01-24 19:08:57
10,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,22.63,2018-01-25 10:40:43
11,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,20.61,2018-01-28 13:02:41
12,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,10.83,2018-02-01 13:36:58
13,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,19.92,2018-02-03 08:57:50
14,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,13.18,2018-02-03 09:37:27
15,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,27.37,2018-02-06 14:07:10
16,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,13.21,2018-02-11 17:41:34
17,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,7.93,2018-02-15 10:31:43
18,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,8.63,2018-02-15 14:53:47
19,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,17.44,2018-02-16 12:56:49
20,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,7.95,2018-02-16 15:59:51
21,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,18.92,2018-02-16 21:44:34
22,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,22.24,2018-02-19 18:54:44
23,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,20.73,2018-02-20 17:12:26
24,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,5.75,2018-02-25 08:46:23
25,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,17.55,2018-02-25 12:09:33
26,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,17.68,2018-03-01 16:39:09
27,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,13.58,2018-03-03 11:07:30
28,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,7.38,2018-03-11 13:53:47
29,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,9.72,2018-03-12 15:44:07
...,...,...,...,...,...,...
64805,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,27.94,2019-10-29 18:39:47
64806,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,2.55,2019-10-29 19:21:53
64807,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,11.58,2019-10-29 21:42:06
64808,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,28.69,2019-10-29 22:35:32
64809,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,19.60,2019-10-29 23:17:45
64810,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,15.03,2019-10-30 11:55:57
64811,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,3.30,2019-10-30 12:33:02
64812,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,1.41,2019-10-30 12:43:08
64813,주차시설,인천공항 정부합동청사,"인천광역시 중구 공항로424번길 47 , 정문 주차장",2012,8.20,2019-10-30 15:49:06
64814,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,6.46,2019-10-30 18:44:49
64815,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,28.91,2019-10-30 18:59:58
64816,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,5.80,2019-10-30 19:41:38
64817,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,27.63,2019-10-30 20:24:45
64818,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,17.36,2019-10-30 21:00:56
64819,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,11.31,2019-10-30 21:07:32
64820,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,6.33,2019-10-30 22:20:04
64821,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,6.75,2019-10-31 09:08:42
64822,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,28.82,2019-10-31 08:42:27
64823,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,22.08,2019-10-31 09:27:39
64824,주차시설,차이나타운 주차장,인천광역시 중구 신포로27번길 80,2016,17.12,2019-10-31 12:45:08
64825,주차시설,차이나타운 주차장,인천광역시 중구 신포로27번길 80,2016,10.07,2019-10-31 13:37:11
64826,주차시설,인천공항 정부합동청사,"인천광역시 중구 공항로424번길 47 , 정문 주차장",2012,9.18,2019-10-31 15:12:12
64827,주차시설,인천공항 정부합동청사,"인천광역시 중구 공항로424번길 47 , 정문 주차장",2012,7.30,2019-10-31 15:42:46
64828,주차시설,차이나타운 주차장,인천광역시 중구 신포로27번길 80,2016,4.11,2019-10-31 16:38:24
64829,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,10.64,2019-10-31 17:51:59
64830,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,7.73,2019-10-31 18:22:49
64831,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,17.35,2019-10-31 18:46:47
64832,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,29.10,2019-10-31 20:15:55
64833,주차시설,계양구 공영주차장,"인천광역시 계양구 봉오대로 679-1 , 작전역 2번 출구 100m 앞",2014,1.06,2019-10-31 21:11:14
64834,공공시설,송림체육관,인천광역시 동구 염전로 30,2016,15.04,2019-10-31 21:46:25

In [63]:
gong3_2['충전소'].unique()

array(['강화지사', '강화군청', '신문리 공영주차장', '온수리 제1공영주차장', '마니산국민관광지', '계양구청',
       '홈플러스 작전점', '홈플러스 계산점', 'LH인천본부', '동구청앞 공영주차장', '서림초교 뒤 공영주차장',
       '인천업사이클 에코센터', '부평국민체육센터', '부평아트센터', '삼산농산물도매시장', '인천전력관리처',
       '인천직할', '인천경제산업정보테크노파크', '인천항 크루즈터미널', '남인천지사', 'G-Tower(경제자유구역청)',
       '홈플러스 인천연수점', '용유동사무소', '인천항 갑문홍보관', '중부지방고용노동청 별관 앞',
       '강화풍물시장 공영주차장', '영종대교 휴게소 주차장', '검단2공영주차장', '계산1택지 공영주차장',
       '도원역 부근 공영주차장', '부원 공영주차장', '㈜현대자동차 블루핸즈 서인천 서비스 주차장 입구',
       '영흥수산물직판장 주차장', '인천시청', '송도컨벤시아', '덕산국민여가캠핑장', '인천서구청 제1주차장',
       '인천공항 정부합동청사', '계양구 공영주차장', '송림체육관', '차이나타운 주차장', '인천서구청',
       '인천서구청소년수련관', '부평깡시장 공영주차장', '서곶근린공원 제1주차장', '서운체육공원 주차장',
       '인천교통공사 본사', '열우물경기장', '가좌2동 행정복지센터', '현대시장 공영주차장', '연수구청',
       '장수서창 공영주차장', '아트센터인천', '갈산역 공영주차장', '인천나비공원 주차장',
       '인천아시아드주경기장 D1주차장', '온수리 공영 주차장', '십리포해수욕장 주차장', '남동복지관',
       '인천정보산업테크노파크', '청라중앙호수공원 2주차장', '인천공항물류단지 행정지원센터', '모탱이공원',
       '늘솔길공원 3주차장', '소래제1주차장', '월미공원 제2주차장', '신기남부종합시장 주차장',
       '인천광역시 교통연수원', '한국환경공단(기후대기관)', '인천아시안게임 남동경기장 1주차장', '하나로마트 인천점'],
      dtype=object)

In [64]:
gong3_2.head()

,용도별,충전소,주소,설치년도,충전량(kWh),시작일시
0,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,17.21,2018-01-01 09:19:36
1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,12.86,2018-01-02 09:16:04
2,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.10,2018-01-04 14:00:49
3,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,13.94,2018-01-09 12:58:46
4,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.06,2018-01-09 20:48:46

In [65]:
gong3_2['시간대'] = list(map(lambda x : x.split(' ')[1].split(':')[0] , gong3_2['시작일시']))
gong3_2.head()

,용도별,충전소,주소,설치년도,충전량(kWh),시작일시,시간대
0,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,17.21,2018-01-01 09:19:36,09
1,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,12.86,2018-01-02 09:16:04,09
2,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.10,2018-01-04 14:00:49,14
3,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,13.94,2018-01-09 12:58:46,12
4,공용,강화지사,"인천광역시 강화군 강화읍 강화대로 278 (갑곳리, 한국전력공사강화지점)",2017-02-27,16.06,2018-01-09 20:48:46,20

In [66]:
len(gong3_2['충전소'].unique())

71

In [67]:
gong3_2.groupby(['시간대']).sum()

      충전량(kWh)
시간대
00    36244.22
01    22006.41
02    20168.34
03    13625.42
04    10898.20
05    20080.56
06    36351.71
07    67455.00
08    92828.93
09   108933.15
10   121521.43
11   134243.51
12   146170.79
13   151256.59
14   147164.04
15   159716.51
16   167682.90
17   150238.10
18   152866.13
19   151637.55
20   140172.45
21   118868.35
22    89196.63
23    60128.51

In [68]:
len(gong3_2['충전소'].unique())

71

In [69]:
n_li3 = list(gong3_2.groupby(['시간대']).size())
n_li3

[2083,
 1265,
 1091,
 803,
 666,
 1150,
 1925,
 3505,
 4771,
 5870,
 6644,
 7584,
 8097,
 8481,
 8232,
 8999,
 9343,
 8418,
 8077,
 7862,
 7138,
 6363,
 4821,
 3273]

In [70]:
pd.DataFrame(gong3_2.groupby(['시간대']).sum())

      충전량(kWh)
시간대
00    36244.22
01    22006.41
02    20168.34
03    13625.42
04    10898.20
05    20080.56
06    36351.71
07    67455.00
08    92828.93
09   108933.15
10   121521.43
11   134243.51
12   146170.79
13   151256.59
14   147164.04
15   159716.51
16   167682.90
17   150238.10
18   152866.13
19   151637.55
20   140172.45
21   118868.35
22    89196.63
23    60128.51

In [71]:
temp3 = pd.DataFrame(pd.Series(gong3_2.groupby(['시간대']).sum().iloc[:,0]) / len(gong3_2['충전소'].unique()))
temp3.rename(columns = {
    '충전량(kWh)' : '평균 충전량(kWh)'
}, inplace = True)
temp3

     평균 충전량(kWh)
시간대
00    510.481972
01    309.949437
02    284.061127
03    191.907324
04    153.495775
05    282.824789
06    511.995915
07    950.070423
08   1307.449718
09   1534.269718
10   1711.569437
11   1890.753662
12   2058.743521
13   2130.374507
14   2072.732958
15   2249.528310
16   2361.730986
17   2116.029577
18   2153.044085
19   2135.740141
20   1974.259859
21   1674.202113
22   1256.290563
23    846.880423

In [72]:
eee = gong3_2.groupby(['시간대']).agg('std')
eee.rename(columns = {
    '충전량(kWh)' : '충전량(kWh) 편차'
}, inplace = True)
eee

     충전량(kWh) 편차
시간대
00     11.425060
01     10.795199
02     12.181813
03     12.199682
04     12.200051
05     11.509941
06     11.759106
07     12.053118
08     12.994511
09     12.233374
10     12.386598
11     12.284406
12     12.038577
13     12.206196
14     11.926035
15     11.711837
16     11.646900
17     11.598367
18     12.529720
19     12.512154
20     12.793843
21     11.775488
22     11.623851
23     11.503966

In [73]:
temp4 = temp3.copy()
temp4['시간대'] = list(map(lambda x: str(x) + ':00', temp4.index))
temp4.index = range(len(temp4))
temp4['편차'] = list(eee.iloc[:,0])
temp4['MSE'] = list(pd.Series((list(eee.iloc[:, 0]))) / n_li3)

temp4 = temp4.iloc[:, [1,0,2,3]]
temp4

      시간대  평균 충전량(kWh)         편차       MSE
0   00:00   510.481972  11.425060  0.005485
1   01:00   309.949437  10.795199  0.008534
2   02:00   284.061127  12.181813  0.011166
3   03:00   191.907324  12.199682  0.015193
4   04:00   153.495775  12.200051  0.018318
5   05:00   282.824789  11.509941  0.010009
6   06:00   511.995915  11.759106  0.006109
7   07:00   950.070423  12.053118  0.003439
8   08:00  1307.449718  12.994511  0.002724
9   09:00  1534.269718  12.233374  0.002084
10  10:00  1711.569437  12.386598  0.001864
11  11:00  1890.753662  12.284406  0.001620
12  12:00  2058.743521  12.038577  0.001487
13  13:00  2130.374507  12.206196  0.001439
14  14:00  2072.732958  11.926035  0.001449
15  15:00  2249.528310  11.711837  0.001301
16  16:00  2361.730986  11.646900  0.001247
17  17:00  2116.029577  11.598367  0.001378
18  18:00  2153.044085  12.529720  0.001551
19  19:00  2135.740141  12.512154  0.001591
20  20:00  1974.259859  12.793843  0.001792
21  21:00  1674.202113  11.775488  0.001851
22  22:00  1256.290563  11.623851  0.002411
23  23:00   846.880423  11.503966  0.003515

In [74]:
#temp3.to_csv("공공용 시간대별 총충전량.csv", encoding = "CP949")
#temp3.to_csv("공공용 시간대별 시설당 총충전량.csv", encoding = "CP949")
#eee.to_csv("공공용 시간대별 편차.csv" , encoding = "CP949")
temp4.to_csv("공공용 시간대별 시설당 총충전량 및 MSE.csv", encoding = 'CP949', index = False)